node-red/flow-lora-mailbox.json
[{"id":"b5c3d925.85b288","type":"http in","z":"3548c055.4891b","name":"Objenious in","url":"/objenious","method":"post","swaggerDoc":"","x":113,"y":311,"wires":[["f005141f.af8f58","2f389c8b.29bd34","824f1e26.c51a4"]]},{"id":"f005141f.af8f58","type":"function","z":"3548c055.4891b","name":"Ack","func":"msg.payload='OK';\nreturn msg;","outputs":1,"noerr":0,"x":305,"y":391,"wires":[["e5d99574.eb8788"]]},{"id":"e5d99574.eb8788","type":"http response","z":"3548c055.4891b","name":"Objenious out","x":506,"y":391,"wires":[]},{"id":"2f389c8b.29bd34","type":"debug","z":"3548c055.4891b","name":"Debug","active":true,"console":"false","complete":"payload","x":306,"y":311,"wires":[]},{"id":"eccef470.094358","type":"pushbullet","z":"3548c055.4891b","config":"5b346bce.ecf924","pushtype":"note","title":"Vous avez du courrier","chan":"","name":"Notification Téléphone","x":594,"y":225,"wires":[]},{"id":"824f1e26.c51a4","type":"function","z":"3548c055.4891b","name":"Message à envoyer","func":"var nbPassages = msg.payload.data.push;\n\nmsg.payload = \"Le facteur vient de passer ! Nombre de passages : \" + nbPassages;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":225,"wires":[["eccef470.094358"]]},{"id":"5b346bce.ecf924","type":"pushbullet-config","z":"3548c055.4891b","name":"Jeton"}]
